.git
.gitignore
.DS_Store
*.pyc
__pycache__/
*.log
*.md
.azure-pipelines/
addons/
repo-addons/.github/
repo-addons/setup/
debian/
doc/
odoo/
setup/
azure-pipelines.yml
dist/
.env.vm
odoo-bin
requirements.txt
odoo.sql.gz
odoo-erp-image.tar.gz
